
<div class="container col-xs-6 col-xs-offset-3 padding-top">
  <div class="row">
    <form action="/answer" method="get" class="form-group col-xs-6">
      <label for="question-form">Ask your coach anything</label><br>
      <input type="text" name="question" class="form-control" id="question-form">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
